body {
  background: linear-gradient(90deg, #007cc7, #12232e);
  text-align: center;
  font-family: "happy monkey";
  text-transform: uppercase;
  color: white;
}

.aside {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 250px;
  width: 200px;
  height: 200px;
  font-size: 20px;
  border: none;
}

.playerX {
  left: 150px;
  transition: 0.75s;
}

.playerO {
  right: 150px;
  transition: 0.75s;
}

.aside span {
  text-decoration: underline;
}

.aside p {
  transition: 0.75s;
  font-size: 90px;
}

h1 {
  font-size: 5vw;
  margin-top: 50px;
}
h2 {
  font-size: 3vw;
}

.rows {
  display: flex;
  margin: 0 auto;
  width: 420px;
}

button {
  text-transform: uppercase;
  margin: auto;
  margin: 20px;
  margin-top: 30px;
}

.rows div {
  color: black;
  height: 125px;
  width: 125px;
  border: solid white;
  box-sizing: border-box;
  margin: 7px;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  transition: 1s;
}

.rows div:hover {
  background: rgba(0, 0, 0, 0.2);
}

.con {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.row1 div {
  border-top: none;
}

.row1 div:first-child {
  border-left: none;
}

.row1 div:last-child {
  border-right: none;
}

.row2 div:first-child {
  border-left: none;
}

.row2 div:last-child {
  border-right: none;
}

.row3 div {
  border-bottom: none;
}

.row3 div:first-child {
  border-left: none;
}

.row3 div:last-child {
  border-right: none;
}

@media (max-width: 1140px) {
  .aside {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    top: 0;
    width: 300px;
    border-radius: 25px;
    margin: 10px auto;
    height: 80px;
    font-size: 25px;
  }
  .playerX {
    position: relative;
    left: 0;
  }

  .playerO {
    position: relative;
    right: 0;
  }

  .aside span {
    text-decoration: none;
  }

  .aside p {
    font-size: 30px;
  }
}
